@import '../base.module.css';

.menuItem {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  min-height: var(--touch-target-size);
  min-width: calc(var(--touch-target-size) - 1rem);
  list-style: none;
  padding: 0 0.5rem;
}

.menuItemOpen, .menuItem:hover {
  background: black;
  color: white;
}

.labelWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.menuItemLabel {
  cursor: pointer;
  margin-left: 0;
  white-space: nowrap;
}

.menuItem .menuItem {
  padding-left: calc(var(--touch-target-size));
}

.menuItemImage {
  cursor: pointer;
  margin-left: 0;
  image-rendering: pixelated;
  min-height: 32px;
}

[aria-expanded="true"] .menuItemImage {
  filter: invert(1);
}

.menu {
  flex-direction: column;
  position: absolute;
  list-style: none;
  top: 100%;
  left: 0;
  z-index: 99;
  flex-direction: column;
  background: white;
  color: black;
  justify-content: stretch;
  margin: 0;
  padding: 0;
  border: 2px solid black;
  box-shadow: 2px 2px 0px black;
}

@media (max-width: 500px) {
  .menuItem:nth-child(4) .menu, .menuItem:nth-child(5) .menu {
    right: 0;
    left: auto;
  }
}

