@import "../base.module.css";

.modalContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  font-family: var(--text-font);
  
}

.details {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}

.img {
  width: 64px;
  height: 64px;
  image-rendering: pixelated;
  touch-action: manipulation;
}

.buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}