.modalDialog {
  position: fixed;
  border: 2px solid black;
  padding: 4px;
  top: 0;
  z-index: 99;
}

.modalInner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 4px solid black;
  padding: 0.5rem;
}

.modalContent {
  max-width: 100%;
}