
.canvas {
  cursor: crosshair;
  touch-action: manipulation;
  image-rendering: pixelated;
  background: repeating-linear-gradient(45deg, silver 0, silver 5px, white 5px, white 10px);
  background-image: url("../assets/bg-20.png");
  margin: auto;
}

.moveCanvas {
  cursor: move;
  touch-action: manipulation;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 50%;
  border: 1px dashed black;
}