
.canvas {
  cursor: crosshair;
  touch-action: manipulation;
  image-rendering: pixelated;
  margin: auto;
  border: 1px solid #888888;
  border-width: 0 0.5px 0.5px 0;
}

.canvasOverlay {
  pointer-events: none;
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
}

.squareOverlay {
  background-image: url("../assets/bg-20-line.png");
}

.knitOverlay {
  background-image: url("../assets/bg-34-line.png");
}

.threeFourOverlay {
  background-image: url("../assets/bg-34-line.png");
}

.moveCanvas {
  cursor: move;
  touch-action: manipulation;
  image-rendering: pixelated;
  position: absolute;
  left: 0;
  right: 0;
  opacity: 50%;
  border: 1px dashed black;
}