
.btn {
  border: 2px solid black;
  border-radius: 10px;
  font-family: var(--ui-font);
  font-size: var(--font-size);
  background-color: white;
  min-width: calc( var(--touch-target-size) * 4);
  text-align: center;
  min-height: var(--touch-target-size);
}