@import '../base.module.css';

.btn {
  border: 6px solid black;
  /* border-radius: 10px; */
  font-family: var(--ui-font);
  font-size: var(--font-size);
  background-color: white;
  min-width: calc( var(--touch-target-size) * 4);
  text-align: center;
  min-height: var(--touch-target-size);
  border-image: svg-load("../assets/border.svg") 3;
  text-decoration: none;
  color: black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn:disabled {
  opacity: 0.5;
}