@font-face {
  font-family: 'FindersKeepers';
  src: url("./assets/FindersKeepers.ttf");
}

@font-face {
  font-family: 'ChiKareGo2';
  src: url("./assets/ChiKareGo2.ttf");
}

:root {
  --touch-target-size: 42px;
  --font-size: 18pt;
  --ui-font: 'ChiKareGo2';
  --text-font: 'FindersKeepers';
}

@media (max-width: 350px) {
  :root {
    --font-size: 26px;
    --touch-target-size: 40px;
  }
}