@import "./base.module.css";

html,
body {
  height: 100%;
  background-color: white;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  font-size: var(--font-size);
  font-family: var(--ui-font);
  grid-template-columns:
    calc(
      34px + max(env(safe-area-inset-left, 0.5rem), 0.5rem) +
        max(env(safe-area-inset-right, 0.5rem), 0.5rem) * 2
    )
    auto;
  background-color: white;
  background: url("./assets/bg.png");
  grid-template-rows: calc(35px + 0.5rem) 1fr calc(
      34px * 2 + max(env(safe-area-inset-bottom), 0.5rem)
    );
  /* background-size: 4px 4px; */
  image-rendering: pixelated;
}

@media (max-width: 900px) {
  #root {
    grid-template-columns: 1fr;
    grid-template-rows: calc(34px + 0.5rem) calc(40px + 0.5rem) auto calc(
        34px * 2 + 0.5rem + env(safe-area-inset-bottom)
      );
  }
}
