@import "../base.module.css";

.window {
  min-width: unset;
  display: flex;
  margin: 0 max(env(safe-area-inset-right, 0.5rem), 0.5rem) 0.5rem 0;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: max(env(safe-area-inset-left, 0.5rem), 0.5rem);
  border: 0;
  flex-direction: column;
  flex-wrap: nowrap;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  border: 0;
  padding: 0;
  flex-direction: column;
  gap: 2px;
  padding: 2px;
  color: black;
  box-shadow: 2px 2px 0 black;
  background: black;
}

.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  top: 0;
  left: 0;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 2px;
  box-shadow: 2px 2px 0 black;
  background: black;
}

.radioButton, .iconButton {
  width: var(--touch-target-size);
  height: var(--touch-target-size);
  border: 0;
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.active {
  filter: invert(1);
}

.iconButton:disabled {
  opacity: 0.7;
}

.pixelIcon {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}

@media (max-width: 900px) {
  .window {
    flex-direction: row;
  }

  .tools {
    flex-direction: row;
    flex-wrap: wrap;
    flex: unset;
  }

  .actions {
    flex-direction: row;
  }
}
