@import "../base.module.css";

.window {
  min-width: unset;
  flex: 1;
  display: flex;
  margin: 0 max(env(safe-area-inset-right, 0.5rem), 0.5rem) 0.5rem 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin-left: max(env(safe-area-inset-left, 0.5rem), 0.5rem);
  border: 0;
  flex-direction: column;
  background: none;
  flex-wrap: nowrap;
  background: black;
  gap: 2px;
  padding: 2px;
  color: black;
  box-shadow: 2px 2px 0 black;
}

.tools {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex: 1;
  border: 0;
  padding: 0;
  flex-direction: column;
  gap: 2px
}

.a11y {
  position: absolute;
  width: 1px;
  height: 1px;
  opacity: 0;
  top: 0;
  left: 0;
}

.radioButton {
  width: var(--touch-target-size);
  height: var(--touch-target-size);
  background: white;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pixelIcon {
  width: 32px;
  height: 32px;
  image-rendering: pixelated;
}

@media (max-width: 900px) {
  .window {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: unset;
    flex-direction: row;
  }

  .tools {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: unset;
  }
}
